In [13]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Sonu', 'Chintu', 'Potter'],
    'Marks': [45, 72, 88]
})

print(f"Original Data:\n",df)
df['Bonus_Marks'] = df['Marks'].map(lambda x: x + 5)

print("\nAfter Map (Bonus Marks):\n",df[['Name', 'Marks', 'Bonus_Marks']])

Original Data:
      Name  Marks
0    Sonu     45
1  Chintu     72
2  Potter     88

After Map (Bonus Marks):
      Name  Marks  Bonus_Marks
0    Sonu     45           50
1  Chintu     72           77
2  Potter     88           93

In [14]:
print(pd.cut(df['Marks'], bins=[0, 50, 70, 100], labels=['Low', 'Medium', 'High']))

0     Low
1    High
2    High
Name: Marks, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']

In [15]:
print(df[df['Marks'] > 75])

     Name  Marks  Bonus_Marks
2  Potter     88           93

In [16]:
print(df.sample(n=2))

     Name  Marks  Bonus_Marks
2  Potter     88           93
1  Chintu     72           77