In [23]:
import pandas as pd

df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Sonu', 'Chintu', 'Potter']
})

df2 = pd.DataFrame({
    'ID': [1, 2, 4],
    'Score': [85, 90, 75]
})

print(pd.merge(df1, df2, on='ID', how='inner'))

   ID    Name  Score
0   1    Sonu     85
1   2  Chintu     90

In [22]:
df1 = pd.DataFrame({
    'Age': [21, 22, 23]
}, index=['Sonu', 'Chintu', 'Potter'])

df2 = pd.DataFrame({
    'Score': [88, 92, 95]
}, index=['Sonu', 'Chintu', 'Potter'])

print(df1.join(df2))

        Age  Score
Sonu     21     88
Chintu   22     92
Potter   23     95

In [25]:
df1 = pd.DataFrame({
    'Name': ['Sonu', 'Chintu'],
    'City': ['Delhi', 'Mumbai']
})

df2 = pd.DataFrame({
    'Name': ['Potter', 'Daksh'],
    'City': ['Pune', 'Kolkata']
})

print(pd.concat([df1, df2], axis=0))

     Name     City
0    Sonu    Delhi
1  Chintu   Mumbai
0  Potter     Pune
1   Daksh  Kolkata

In [45]:
df = pd.DataFrame({
    'Date': ['2024-05-12', '2024-05-12', '2024-05-23'],
    'City': ['Delhi', 'Mumbai', 'Delhi'],
    'Temp': [22, 25, 23]
})

print(df.pivot(index='Date', columns='City', values='Temp'))

City        Delhi  Mumbai
Date
2024-05-12   22.0    25.0
2024-05-23   23.0     NaN