In [21]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Sonu Awasthi', 'Chintu_Sharma', 'Potter.Saini'],
    'Email': ['Mayankawasthiiitr@mail.com', 'chintu_gargi@mail.in', 'potter.high@gmail.com']
})
print(f"Original Data:\n",df)
print(f"UPPERCASE:\n{df['Name'].str.upper()}\n\n"
    f"LOWERCASE:\n{df['Name'].str.lower()}\n\n"
    f"CONTAINS 'u':\n{df['Name'].str.contains('u')}\n\n"
    f"STRIPPED:\n{df['Name'].str.strip()}\n\n"
    f"REPLACED 'u' WITH '*':\n{df['Name'].str.replace('u', '*')}")

Original Data:
             Name                       Email
0   Sonu Awasthi  Mayankawasthiiitr@mail.com
1  Chintu_Sharma        chintu_gargi@mail.in
2   Potter.Saini       potter.high@gmail.com
UPPERCASE:
0     SONU AWASTHI
1    CHINTU_SHARMA
2     POTTER.SAINI
Name: Name, dtype: object

LOWERCASE:
0     sonu awasthi
1    chintu_sharma
2     potter.saini
Name: Name, dtype: object

CONTAINS 'u':
0     True
1     True
2    False
Name: Name, dtype: bool

STRIPPED:
0     Sonu Awasthi
1    Chintu_Sharma
2     Potter.Saini
Name: Name, dtype: object

REPLACED 'u' WITH '*':
0     Son* Awasthi
1    Chint*_Sharma
2     Potter.Saini
Name: Name, dtype: object

In [48]:
df['Clean_Name'] = df['Name'].str.replace(r'[\W_]+', ' ', regex=True)
df['Username'] = df['Email'].str.extract(r'(^[\w\.]+)')
df['Clean_Email'] = df['Email'].str.replace(r'\d+', '', regex=True)

print(f"{df[['Clean_Name']]}\n\n"
f"{df[['Username']]}\n\n"
f"{df[['Clean_Email']]}")

      Clean_Name
0   Sonu Awasthi
1  Chintu Sharma
2   Potter Saini

            Username
0  Mayankawasthiiitr
1       chintu_gargi
2        potter.high

                  Clean_Email
0  Mayankawasthiiitr@mail.com
1        chintu_gargi@mail.in
2       potter.high@gmail.com